/*
 * File: all.css
 * Project: wp-pvr-theme-template
 * File Created: Thursday, 4th June 2020 12:59:39 pm
 * Author: povverster (povverster@gmail.com)
 * GitHub: https://github.com/povverster
 * -----
 * Last Modified: Friday, 5th June 2020 11:46:20 am
 * Modified By: povverster (povverster@gmail.com>)
 */

/* ---------------- LOADER ----------------- */
#loader {
  position: fixed;
  z-index: 13;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
#loader img {
  position: absolute;
  top: 45%;
  left: 46%;
  top: calc(50% - 72px);
  left: calc(50% - 46px);
}
/* ------------------------------------------ */
